* {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2, p {
  padding: 20px 0;
}

.white-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #ffffff;
}

span, a, li, p {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 1em;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}

.button-style {
  border-radius: 13px 13px 13px 13px;
  font-weight: bold;
  padding: 13px 35px;
  background-color: #9999FF;
  cursor: pointer;
  color: white;
}

.button-style:hover {
  background-color: #7373c2;
}

.margin {
  margin: 40px;
}

.carrousel {
  box-shadow: 2px 37px 49px -57px #000000;
}

.carrousel img{
  width: 99vw;
}

@media (max-width: 1000px) {
  .carrousel {
    
  }
}

