.comunity {
    text-align: center;
    padding: 50px 0;
    background-color: #f6f6f6;
}

.pessoas {
    display: flex;
    gap: 50px 100px;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y: auto;
    margin: 50px auto;
    max-width: 70%;
}

.block-pessoa.none {
    display: none;
}

.block-pessoa div {
    display: none;
    margin: 0 auto;
    transition: 1s;
    animation: 1s textAnimation forwards;
    margin-top: 50px;
}

.block-pessoa div.active {
    display: block;
}

.block-pessoa img {
    border-radius: 100%;
    border: 5px solid #ff8b2c5d;
    width: 150px;
    transition: .5s;
    cursor: pointer;
    position: relative;
}

.block-pessoa img:hover {
    width: 160px;
}

@keyframes textAnimation {
    from {
        margin-top: -10px;
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media (max-width: 700px) {
    .pessoas {
        flex-wrap: nowrap;
        justify-content: unset;
        max-width: 100%;
        margin: 50px 0 25px 0;
        padding: 0 50px
    }

    .block-pessoa {
       max-width: 250px;
       margin: 0 auto;
    }

    .block-pessoa p{
        padding: 0;
     }
}