.cursos {
  text-align: center;
  background-color: #f6f6f6;
  padding: 50px 0 100px 0;
}

.block-cursos {
  padding-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.block-cursos div {
  max-width: calc(1350px / 4);
  background-color: rgba(0, 0, 0, 0.658);
  padding: 20px;
  border-radius: 10px
}

.block-cursos img {
  width: 150px;
  height: 150px;
}

.cursos h3 {
  font-size: 2.2em;
  font-weight: bolder;
}

.cursos p {
  color: white;
}

.cursos h2 {
  font-size: 20px;
  padding: 40px 0;
  color: #fda922
}

@media (max-width: 700px) {
  .cursos {
    padding: 10px 0;
  }

  .cursos h3 {
    font-size: 1.5em;
  }

  .block {
    padding: 30px 0;
  }

  .block-cursos {
    padding: 50px 20px;
  }
}