.introducao {
    display: flex;
    margin: 0 auto;
    padding: 100px 0;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5em;
    background-color: rgb(255, 255, 255);
    position: relative;
    z-index: 2;
}

.introducao img {
    max-width: 80vw;
}

.introducao div {
    max-width: 600px;
}

@media (max-width: 700px) {
    .introducao {
        padding: 50px 0;
        text-align: center;
        gap: 0;
    }

    .introducao div {
        padding: 0 20px;
    }

    .introducao img {
        position: absolute;
        left: 50px;
        top: 150px;
        z-index: -1;
        opacity: .3;
    }
}