.navbar {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  z-index: 2;
  max-width: 1150px;
}

.logo {
  height: 40px;
  margin-left: 50px;
}

.nav-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 70px;
}

.nav-links li,
a {
  font-size: .9em;
  padding: 10px;
  font-weight: bold;
}

.nav-links a:hover {
  background-color: rgb(143, 188, 255);
  color: white;
  border-radius: 10px 10px 10px 10px;
}

[data-menu="button"] {
  display: none;
}

@media (max-width: 700px) {
  .nav-links {
    display: none;
  }

  .navbar {
    display: block;
    text-align: center;
    padding: 20px;
  }

  .logo {
    margin-left: 0;
  }

  [data-menu="button"].active::before {
    transform: rotate(90deg);
  }
}