.quem-somos {
  padding-top: 50px;
}

.quem-somos [data-quem-somos="block"] {
  max-width: 1150px;
  margin: 0 auto;
}

.block-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap-reverse;
}

.block-info p {
  max-width: 440px;
}

.block-info img {
  width: 380px;
  height: 325x;
}

@media (max-width: 700px) {
  .block-info {
    margin: 20px
  }

  .quem-somos h2 {
    text-align: center;
  }
}